
<div class="container">
  <h1>Please sign up below me</h1>
  <form>
    <div class="form-group">
      <!-- <input type="text" class="txt" name="item" required placeholder="Life goal.." [(ngModel)]="goalText" /> -->
      <input type="text" name="userName" required class="form-control" id="email" placeholder="User name" [(ngModel)]="model.username" />
      <!-- span class="error" *ngIf="n.touched && n.invalid">Name is required</!--span -->
    </div>
    

  <div class="form-group">

    <input type="password" name="pass1" required  class="form-control" id="pwd" placeholder="Password" [(ngModel)]="model.password" />
  </div>

  <div class="form-group">

    <input type="password" name="pass2" required  class="form-control" id="pwd" placeholder="Password" [(ngModel)]="model.password2" />
  </div>

    <div class="form-group">

      <input type="text"  name="interests" class="form-control" id="pwd" placeholder="Interests"  [(ngModel)]="model.interests">
    </div>


    <div class="form-group">

      <input type="text" required name="city" class="form-control" id="pwd" placeholder="City"  [(ngModel)]="model.city">
    </div>
    <div class="form-group">


      <input type="radio"
             name="sex"
             [(ngModel)]="model.sex"
             value="Male"> Male

      <input type="radio"
             name="sex"
             [(ngModel)]="model.sex"
             value="Female"> Female


    </div>
    

    <button type="submit" class="btn btn-success" (click)="register()">Register</button>
    <a href="#" class="btn btn-alert">Cancel</a>
  </form>
</div>
