
<div class="container">
  <h1>Please sign up below me</h1>
  <form>
    <div class="form-group">
      <input type="email" required name="username" class="form-control" id="email" placeholder="User name">
      <!-- span class="error" *ngIf="n.touched && n.invalid">Name is required</!--span -->
    </div>


    <div class="form-group">

      <input type="password" required name="password" class="form-control" id="pwd" placeholder="Password">
    </div>

    <div class="form-group">

      <input type="password" required name="password" class="form-control" id="pwd" placeholder="Password">
    </div>

    <div class="form-group">

      <input type="password" required name="password" class="form-control" id="pwd" placeholder="Password">
    </div>


    <div class="form-group">

      <input type="password" required name="password" class="form-control" id="pwd" placeholder="Password">
    </div>
    <div class="checkbox">

      <input type="password" required name="password2" class="form-control" id="pwd2" placeholder="Confirm Password">
    </div>


    <button type="submit">Register</button>
    <a href="#" class="btn btn-default">Cancel</a>
  </form>
</div>
