<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"> My Dating App </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">{{ Title }} <span class="sr-only">{{ Title }}</span></a>
      </li>
      <!--
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </li> -->
      <li class="nav-item">
        <a class="nav-link" href="#">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Following</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Messages</a>
      </li>
    </ul>


    <!-- this runs if  logged in -->
    <div class="nav-item" *ngIf="isLoggedIn">
      <a class="nav-link" href="#"> {{ currentUser }}, Logout</a>
    </div>

    <!-- this runs if NOT logged in -->
    <div class="nav-item" *ngIf="!isLoggedIn">
      <a class="nav-link" routerLink="register"> Sign up </a>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="username" placeholder="User Name" aria-label="User Name">
        <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>


    
  </div>
</nav>
